@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    :host {
        --background-color: initial;
        --paper-color: initial;
        --primary-color: initial;
        --primary-color-light: initial;
        --primary-color-dark: initial;
        --primary-color-contrast: initial;
        --secondary-color: initial;
        --secondaryy-color-light: initial;
        --secondary-color-dark: initial;
        --secondary-color-contrast: initial;
        --text-color: initial;
        --text-color-secondary: initial;
        --text-color-disabled: initial;

        color: var(--text-color);
        font-family: sans-serif;
    }
}

@layer components {

    /* Form controls */
    input[type=text], input[type=number], select, div.input {
        display: block;
        width: 100%;
        padding: 3px 0.25em 2px 0.25em;
        border: 0 solid transparent;
        border-bottom: 1px solid white;
        background: var(--background-color);

        height: 1.75em;
        line-height: 1;
        align-content: center;

        &:focus, &:focus-visible, &.active {
            border-bottom: 2px solid var(--primary-color);
            padding-bottom: 1px;
            outline: none;
        }
    }

    /* Remove the default number input field spinner */
    input[type=number] {
        -moz-appearance: textfield;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Dropdown */
    div.dropdown {
        position: absolute;
        width: 100%;
        padding: 0;
        background: var(--paper-color);
        z-index: 100;

        div.item {
            padding: 0 0.5em;
            height: 1.75em;
            line-height: 1;
            align-content: center;

            &:hover {
                background: color-mix(in srgb, var(--primary-color) 30%, var(--paper-color));
            }

            &.active {
                color: var(--primary-color);
            }
        }
    }

    /* Buttons */
    button {
        padding: 0.6em 1em 0.35em 1em;
        display: inline-flex;
        align-items: center;
        margin: 0;
        font-weight: 500;
        font-size: 0.875em;
        border-radius: 5px;
        border: 2px solid transparent;
        cursor: pointer;
        vertical-align: text-bottom;
        line-height: 1.25em;

        &:hover {
            border: 2px solid var(--primary-color);
            color: var(--primary-color);
        }
    }
}
