
:host {
    display: block;
}

button {
    width: 4em;
    height: 2em;
    border-radius: 1em;
    border: 2px solid white;
    padding: 0.25em;
    margin: 0;
    vertical-align: center;
    text-align: center;

    div {
        filter: invert() grayscale(1) contrast(100);
    }
}

dialog {
    position: absolute;
    inset: auto 5%;
    height: fit-content;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 1rem;
    background-color: var(--panel-color);
    color: var(--text-color);

    div {
        padding: 1rem;
        overflow: hidden;
    }

    hex-alpha-color-picker {
        width: calc(90vi - 2rem - 2px);
        height: calc(90vi - 2rem - 2px);
    }

    &::backdrop {
        backdrop-filter: blur(3px);
    }
}
