obui-tab-bar {
    margin-top: 0.5em;
}

form {
    padding: 0 0.75em;
}

div.resetButton {
    display: flex;
    justify-content: end;
    margin: 0.6em 0 0.35em 0;
}

obui-help-tooltip {
    margin: 0.2em 0.1em 0 0.5em;
}

form-control {
    margin: 0.75em 0;
}

.flex {
    display: flex;
    justify-content: space-between;

    obui-input,
    obui-select,
    obui-multi-select {
        flex-grow: 1;
    }
}

dl {
    margin: 0;

    dt:not(:first-child) {
        margin-top: 1em;
    }

    dd {
        margin: 0;
        color: var(--text-secondary-color);
    }
}
